body {
    margin: auto;
    background-color: #001f34;
    font-size: 24px;
}
* {
    color: white;
}

.list-item {
    font-size: 16px;
    color: #001f34;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/Images/image\ 8.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10%;
}

.navbar {
    background-color: #fff; 
    padding: 10px;
}

#simple-list-example {
    position: sticky;
    top: 0;
    background-color: #fff; 
    z-index: 1000;
}
.navigation {
    display: flex;
    padding: 60px;
    margin: auto;
    background-color: #001f34;
}

.navigation .nav-link {
    color: white; 
    font-size: 24px;
}

h4 {
    font-size: 48px;
    padding: 10%;
    text-decoration: underline;
  }

h3 {
    font-size: 30px;
    padding: 5%;
}

p {
    font-size: 25px;
    padding: 2%;
}

.percentage {
padding: 15%;
}

img {
    padding: 10%;
    align-items: center;
}

.Persona {
    text-align: center;
    margin: auto;
}

.staggered-paragraph {
    margin: 10%;
    padding: 30px;
    transition: transform 0.3s ease-in-out;
}

.staggered-paragraph:nth-child(odd) {
    transform: translateX(-30%);
}

.staggered-paragraph:nth-child(even) {
    transform: translateX(30%);
}
.container-text {
    overflow: visible; 
}

.text {
    float: left; 
    width: 70%;
}

.image {
    float: left; 
    width: 30%;
}

.homepage {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0; 
   justify-content: space-evenly;
   margin-right: 10%;
}

.mobile {
    float: left; 
    width: 30%;
}

.desktop {
    float: left; 
    width: 70%;
}
