body {
    background-color: #001f34;
}
* {
    color: white;
}
.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/Images/image\ 8.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10%;
}
.navbar {
    background-color: #fff; 
    padding: 10px;
}

#simple-list-example {
    position: sticky;
    top: 0;
    background-color: #fff; 
    z-index: 1000;
}
.navigation {
    display: flex;
    padding: 50px;
    margin: auto;
    background-color: #001f34;
}

.navigation .nav-link {
    color: white; 
    font-size: 24px;
}
h4 {
    align-items: center;
}
.content {
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
}
